package login

import "github.com/meopedevts/crgom/model"

templ LoginForm(user *model.User) {
	<div class="flex flex-col gap-4">
		<span>Dados do usuário</span>
		<div>Nome: { user.FirstName }</div>
		<div>Sobrenome: { user.LastName }</div>
		<div>E-mail: { user.Email }</div>
	</div>
}
